<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{name}</title>
</head>
<body>
<h1>{name} want to test</h1>

<ol>
    <li>WebComponent native</li>
    <li>WebComponent using lit-html</li>
    <li>WebComponent by lit-element</li>
</ol>

<wc-native>
    Application Scope : {inject:scopeApplication.debug}
</wc-native>

<hr/>

<wc-lit>
    Session Scope : {inject:scopeSession.debug}
</wc-lit>

<hr/>

<wc-element>
    Request Scope : {inject:scopeRequest.debug}
</wc-element>

</body>
</html>
